<p>
  <strong>Title:</strong>
  <%= work_experience.title %>
</p>
 
<p>
  <strong>Website:</strong>
  <%= work_experience.education %>
</p>

<p>
  <strong>Year Start:</strong>
  <%= work_experience.year_start %>
</p>

<p>
  <strong>Year End:</strong>
  <%= work_experience.year_end %>
</p>

<p>
  <strong>About:</strong>
  <%= work_experience.about %>
</p>